<!DOCTYPE html>
<html>
 <head>
   <title>students api</title>
  <style>
    table {
    margin: 3px;
    }
table th {
    font-weight: bold;
    cursor: pointer;
}
table th, table td {
    padding: 3px;
    border: 1px solid #000;
}

  </style>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 </head>
<body>

<table>
  <thead id="headings">
      <tr>
          <th >Date</th>
          <th data-attr="name">Name</th>
          <th data-attr="amount">Amount</th>
          <th data-attr="distance">Distance</th>
      </tr>

  </thead>
  <tbody id="results">
      <!-- this will be auto-populated -->
  </tbody>
</table>



</body>
</html>

<script>

function getData() {
    var result="";
    $.ajax({
      url : "/api/",
      dataType: "json",
      async: false,  
      success:function(data) {
         result = data; 
      }
   });
   return result;
}

let arr = getData();



$(function() {
    $('#headings th').on('click', function() {
        var attr = $(this).attr('data-attr');
        var asc = (!$(this).attr('data-asc')); // switch the order, true if not set
        
        // clear any previous sort order indicators
        $('#headings th').each(function() {
            $(this).removeAttr('data-asc');
        });
        // set sort order indicator
        if (asc) {
            $(this).attr('data-asc', 'asc');
        }

        sortResults(attr, asc);
    });
        
    renderResults();
});

function sortResults(prop, asc) {
    arr.sort(function(a, b) {
        if (asc) {
            return (a[prop] > b[prop]) ? 1 : ((a[prop] < b[prop]) ? -1 : 0);
        } else {
            return (b[prop] > a[prop]) ? 1 : ((b[prop] < a[prop]) ? -1 : 0);
        }
    });
    renderResults();
}

function renderResults () {
    var html = '';
    for (var e in arr) {
        html += '<tr>'
            +'<td>'+arr[e].date+'</td>'
            +'<td>'+arr[e].name+'</td>'
            +'<td>'+arr[e].amount+'</td>'
            +'<td>'+arr[e].distance+'</td>'
        +'</tr>';
    }
    $('#results').html(html);
}


</script>